/* media query - task2 maybe?? */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  /* best practice */
}

body {
  width: 100%;
  height: 100vh;
  /* entire screen*/
  background-color: white;
  font-family:sans-serif
}

.example {
  position: fixed;
  bottom: 20px;
  right: 20px;

  /* position fixed positioning */
  
}

.clone {
  /* width: fit-content;  no need Q?*/

  font-size: 40px;
  text-align: center;
  border: 2px solid #000;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  transition: transform 0.2s ease;
}

.clone:hover {
  transform: scale(1.05);
}

a {
  text-decoration: none;
  color: #000;
}

a:visited {
  color: #000;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

nav ul {
  display: flex;
  /* align-items: flex-end; */
  /* justify-content: flex-end; */
  /* no need for these i think because it is already been handled in the parent */
  gap: 30px;
  /* padding: 15px 30px; removing this line removes the scroll and no much difference */
  font-weight: bold;
  font-size: 25px;
}
nav a {
  display: inline-block;
  /* transform doesn't work without inline-block */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease;
}

nav a:hover {
  color: #0077cc;
  transform: scale(1.2);
}

.first {
  width: 100%;
  height: 400px;
  /* take the entire width and height only 400px */
  background-color: #FAEBD7; 
  /* searched online for the exact hex coe color */
  border: 4px solid black;
padding: 250px;
display: flex;
align-items: center;
justify-content: space-between;
/* sizing by trail and error i think could be enhanced
Q? */



  
}

/* the buttons all share btn class for similarity in styling and different ids for  */

.btn {
  width: 120px;
  height: 40px;
  border: 2px solid black;
   font-weight: bold;
}
.btn:hover {
  color: #0077cc;
  transform: scale(1.05); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.box-btns {
  margin-top: 22px;
  display: flex;
  gap: 25px;
  
}
.box-title{
  font-size: 80px;
}
.box-paragraph {

  font-size: 20px;
}

#left-btn {
  background-color: white;
 
}

#right-btn {
  background-color: transparent;
}
.second {
  width: 100%;
  height: 500px;
  text-align: center;
}
.out-title {
  margin-top: 25px;
  font-size: 35px;
}
.iarea {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
  /* text-align: center; no need */
  padding: 0 50px; 
  gap: 25px;
}
.start-now {
  margin-bottom: 20px;
}